.custom-badge{
    background-color: aquamarine!important;
}

.navigation li a {
    color:dimgray;
    text-decoration: none;
}
.navigation li a:hover{
    color: cornflowerblue!important;
}


.sidebar .accordion-button:focus {
    box-shadow: none;
}
.sidebar .accordion-button:not(.collapsed){
    background-color: transparent;
}

.sidebar a {
    text-decoration: none;
    color: black;
}
.sidebar a:hover,
.sidebar a.active {
    color:#0d6efd;
}

.navtabs{
     border-bottom: 1px solid gainsboro;
}
.navtabs a{
    color: black;
}
.navtabs a:hover,
.navtabs a.active {
    color:#0d6efd;
    border-bottom: 3px solid #0d6efd;
}

